<h1>My tasks</h1>

<!-- List of tasks -->
<% @tasks.each do |task| %>
  <div>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "delete",
      task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

  </div>
<% end %>

<hr>

<%= link_to "Add a new Task", new_task_path %>
