<div class="task-details">
  <div class="task-header">
    <h2><%= @task.title %></h2>
    <div class="edit-btn">
      <i class="fas fa-pencil"></i>
      <%= link_to 'Edit this task', edit_task_path %>
    </div>
  </div>

  <div class="task-desc">
    <div><%=  @task.details  %></div>
  </div>

  <% if @task.completed %>
    <div class="status">
      <i class="far fa-check-square"></i>
      <p>This task is completed</p>
    </div>
  <% else %>
    <div class="status">
      <i class="far fa-square"></i>
      <p>This task is completed</p>
    </div>
  <% end %>

  <hr>

  <i class="fas fa-angle-left"></i>
  <%= link_to "Back to list", tasks_path, :class => "link-to-other-page"%>
</div>
